@font-face {
  font-family: Rubik;
  src: url(../../fonts/static/Rubik-Light.ttf);
}
body {
  scroll-behavior: smooth;
  background-color: hsl(223deg, 19%, 93%);
  margin: 0;
  padding: 0;
  font-family: Rubik;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 375px;
  min-height: 500px;
  margin-bottom: 25vh;
  height: content;
}
body p {
  font-size: 16px;
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  .interfaz {
    position: fixed;
    height: 20vh;
    width: 90%;
    transform: translateX(5%);
    bottom: 0px;
    background-color: hsl(228deg, 33%, 97%);
    border-radius: 15px;
  }
  .interfaz-input {
    background-color: hsl(228deg, 33%, 97%);
    resize: none;
    border: 2px solid hsl(223deg, 19%, 93%);
    border-radius: 15px;
    transform: translate(5%, 5%);
    width: 90%;
    height: max(50px, 55%);
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 1em;
    overflow-y: scroll;
  }
  .interfaz-input::placeholder {
    font-size: 1.3em;
    text-indent: 1em;
  }
  .interfaz-input:focus {
    text-indent: 1em;
    outline: none;
    border: 2px solid hsl(223deg, 19%, 93%);
  }
  .interfaz-input:focus::placeholder {
    font-size: 0;
  }
  .interfaz-userimg {
    object-fit: cover;
    position: absolute;
    top: max(65px, 65%);
    left: 5%;
    width: 40px;
    height: 40px;
  }
  .interfaz-send {
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: max(65px, 65%);
    right: 5%;
    padding: 0.5vh 40px;
    color: hsl(223deg, 19%, 93%);
    background-color: hsl(238deg, 40%, 52%);
    border-radius: 15px;
    outline: none;
  }
  .interfaz-send:hover {
    background-color: hsl(239deg, 57%, 85%);
    outline: none;
  }
  .root {
    border-radius: 15px;
    width: 100%;
    margin: 15px auto 0px;
    background-color: hsl(223deg, 19%, 93%);
    height: 100%;
  }
  .root-question {
    position: fixed;
    left: 5%;
    top: 5%;
    background-color: hsl(228deg, 33%, 97%);
    color: hsl(211deg, 10%, 45%);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 40vh 0 15px;
  }
  .root-question span {
    width: 90%;
    margin: 15px auto 15px;
    letter-spacing: 3px;
    word-spacing: 4px;
  }
  .root-question--spanlider {
    font-size: 1.3em;
    color: hsl(212deg, 24%, 26%);
    font-weight: bolder;
  }
  .root-question button {
    color: hsl(223deg, 19%, 93%);
    width: 42%;
    padding: 15px;
    border-radius: 15px 18px;
    margin-left: 5%;
    border: none;
    margin-bottom: 15px;
  }
  .root-question--button1 {
    background-color: hsl(211deg, 10%, 45%);
  }
  .root-question--button2 {
    background-color: hsl(358deg, 79%, 66%);
  }
  .root-comment_container {
    color: hsl(211deg, 10%, 45%);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto 15px;
    background-color: hsl(228deg, 33%, 97%);
  }
  .root-comment_container--Comment {
    padding: 0 5%;
    overflow: hidden;
    width: 90%;
    justify-self: center;
    align-self: center;
  }
  .root-comment_container--img {
    margin-top: 15px;
    margin-left: 5%;
    width: 40px;
    height: 40px;
  }
  .root-comment_container--nombre {
    margin-top: 25px;
    margin-left: 15px;
    font-weight: bold;
  }
  .root-comment_container--sender {
    display: inline-block;
    padding: 0px 10px 0px;
    align-self: center;
    justify-self: center;
    background-color: hsl(238deg, 40%, 52%);
    margin-top: 13px;
    margin-left: 15px;
    color: hsl(228deg, 33%, 97%);
    border-radius: 5px;
  }
  .root-comment_container--timer {
    margin-top: 25px;
    margin-left: 15px;
    align-content: flex-end;
  }
  .root-comment_container--update {
    justify-self: flex-end;
    width: 40%;
    height: fit-content;
    margin-top: 25px;
    padding: fit-content;
  }
  .root-comment_container--containterbuttons {
    width: 90%;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 25px max-content 25px 1fr max-content;
    height: 20px;
    padding: 0 5%;
    margin-bottom: 30px;
    align-content: flex-start;
  }
  .root-comment_container--containterbuttons---pluslike {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 11px 7px 11px 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    max-width: fit-content;
  }
  .root-comment_container--containterbuttons---pluslike:hover {
    background-color: hsl(223deg, 19%, 93%);
  }
  .root-comment_container--containterbuttons---likes {
    grid-column: 2/3;
    width: 100%;
    background-color: hsl(223deg, 19%, 93%);
    padding: 5px;
  }
  .root-comment_container--containterbuttons---minuslike {
    grid-column: 3/4;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px 7px 15px 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .root-comment_container--containterbuttons---minuslike:hover {
    background-color: hsl(223deg, 19%, 93%);
  }
  .root-comment_container--containterbuttons---delete {
    padding: 5px 7px 5px 7px;
    height: 100%;
    grid-column: 4/5;
    width: fit-content;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: hsl(228deg, 33%, 97%);
    border: none;
    color: hsl(358deg, 79%, 66%);
    font-size: 0.9em;
  }
  .root-comment_container--containterbuttons---edit {
    color: hsl(238deg, 40%, 52%);
    grid-column: 5/6;
    padding: 6px 0px;
    width: fit-content;
    justify-self: flex-end;
    background-color: hsl(228deg, 33%, 97%);
    margin-left: 5px;
    border: none;
    font-size: 0.9em;
  }
}
@media only screen and (min-height: 300px) and (max-height: 575px) {
  .interfaz {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: fixed;
    height: 65px;
    width: 90%;
    transform: translateX(5%);
    bottom: 15px;
    background-color: hsl(228deg, 33%, 97%);
    border-radius: 15px;
  }
  .interfaz-input {
    background-color: hsl(228deg, 33%, 97%);
    resize: none;
    border: 2px solid hsl(223deg, 19%, 93%);
    border-radius: 15px;
    transform: translate(5%, 5%);
    width: 90%;
    height: 50px;
    font-size: 1.5em;
    line-height: 1.3em;
    text-indent: 1em;
    overflow-y: scroll;
  }
  .interfaz-input::placeholder {
    font-size: 1em;
    text-indent: 1em;
  }
  .interfaz-input:focus {
    text-indent: 1em;
    outline: none;
    border: 2px solid hsl(223deg, 19%, 93%);
  }
  .interfaz-input:focus::placeholder {
    font-size: 0;
  }
  .interfaz-userimg {
    display: none;
  }
  .interfaz-send {
    width: 20%;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 2vh 5px;
    color: hsl(223deg, 19%, 93%);
    background-color: hsl(238deg, 40%, 52%);
    border-radius: 15px;
    outline: none;
  }
  .interfaz-send:hover {
    background-color: hsl(239deg, 57%, 85%);
    outline: none;
  }
}
.positive {
  color: hsl(238deg, 40%, 52%);
}

.negative {
  color: hsl(358deg, 79%, 66%);
}

.transparencia {
  filter: blur(5px);
}

/*# sourceMappingURL=MainStyles.css.map */
